#title {
    color: aliceblue;
    text-align: left;
    margin-left: 15%;
  }
  
  #onlinetests {
    background: rgba(22, 21, 21, 0.705);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  
    width: 70%;
    margin-left: 15%;
}
  
  #onlinetests tr {
    line-height: 14px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(206, 201, 201, 0.99);
    -moz-box-shadow: 0px 1px 0px 0px rgba(206, 201, 201, 0.99);
    box-shadow: 0px 1px 0px 0px rgba(206, 201, 201, 0.99);

  }

  #onlinetests th {


  }

  
  #onlinetests tr:hover {background-color: #ddd;}
  
  #onlinetests th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    background-color: #ff6600;
    color: aliceblue;
  }

  .buttonRegister{
      width: 120px;
  }
  
  .tabela {
    color: aliceblue;
    margin-top: 5%;
    margin-bottom: 10%;
  
  }