#title {
    color: aliceblue;
    text-align: left;
    margin-top: 1%;
    margin-left: 15%;
  }
  
  #onlinetests {
    background: rgba(22, 21, 21, 0.705);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 70%;
    margin-left: 15%;
}
  
  #onlinetests tr {
    line-height: 14px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(206, 201, 201, 0.99);
    -moz-box-shadow: 0px 1px 0px 0px rgba(206, 201, 201, 0.99);
    box-shadow: 0px 1px 0px 0px rgba(206, 201, 201, 0.99);

  }  
  #onlinetests tr:hover {background-color: #ddd;}
  
  #onlinetests th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    background-color: #ff6600;
    color: aliceblue;
  }

  #btn{
      width: 150px;
  }
  
  .otkazi{
    text-decoration: none;
   
    background-color: #ff6600;
    background-repeat:no-repeat;
    border: 2px solid white;
    color: aliceblue;
    border-radius: 2cm;
    border-color: #ff6600 ;
    cursor:pointer;
    overflow: hidden;  
  }
  #zakazi{
    float: left;
    margin-left: 15%;
    margin-top: 5%;
    width: 9%;
    height: 7%;
  }

  .tabela {
    color: aliceblue;
    margin-top: 5%;
    margin-bottom: 10%;
  
  }
  td{
      height: 40px;
  }
 