.onama{
    margin: 7% 15% 7% 15%;
    justify-content: center;
    align-items: center;
    resize: both;
    border: 3px solid black;
    padding-top: 0px !important;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.7cm;


}
ul.a {
    list-style-type: circle;
  }
.naslov{
    display:list;
    width: 50%;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}
.podnaslov{
    display:list;
    width: 75%;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.tekst{
    white-space: pre-line;

    text-align: left;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0.5cm;
    margin: 15px 5% 15px 5%;
    justify-content: center;
    align-items: center;
    resize: both;
    color: white;
    border: 3px solid #ff6600;
    background-color: grey;
    padding-top: 10px !important;

}
