.login{
        margin: 7% 15% 7% 15%;
        justify-content: center;
        align-items: center;
        resize: both;
        border: 3px solid black;
        padding-top: 0px !important;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0.7cm;
        max-width: 500px;    
    
    }

